NODE_ENV=DEVELOPMENT_or_PRODUCTION
PORT=PORT_NUMBER_HERE
DATABASE_URL=BASE_URL_HERE
FRONTEND_URL=FRONTEND_URL_HERE
JWT_SECRET_KEY=JWT_SECRET_KEY_HERE
CLOUDINARY_CLOUD_NAME=COULD_NAME_HERE
CLOUDINARY_API_KEY=COULD_API_KEY_HERE
CLOUDINARY_API_SECRET=COULD_API_SECRET_HERE
GMAIL_USER=YOUR_GMAIL_HERE
GMAIL_APP_PASSWORD=YOUR_APP_PASSWORD_HERE_16_CHAR